<!-- Windi CSS -->
{{- $windi := (resources.Get "css/windi.css") }}
<link rel="stylesheet" href="{{ $windi.RelPermalink }}" />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans+Mono&family=Noto+Serif+SC:wght@400;700&display=swap"
    rel="stylesheet"
/>

<!-- Custom Styles -->
<style>
    .post-single {
        font-family: 'Noto Sans Mono', 'Noto Color Emoji', 'Noto Serif CJK SC', system-ui;
    }
    .post-content > p {
        text-indent: 2em;
    }
    .post-content code {
        margin: 0;
    }
    .post-content img {
        margin: 0 auto;
    }
    .prose {
        font-size: inherit;
        max-width: initial;
    }
</style>
